<section style="margin: 20px">
  <h2 style="font-size: 2em; font-weight: bold">Aufzeigen hinzufügen</h2>
  <mat-form-field appearance="fill">
    <mat-label>An welchem Tag hast du aufgezeigt?</mat-label>
    <mat-select [(value)]="selected" disabled>
      <mat-option value="Sonntag">Sonntag</mat-option>
      <mat-option value="Montag">Montag</mat-option>
      <mat-option value="Dienstag">Dienstag</mat-option>
      <mat-option value="Mittwoch">Mittwoch</mat-option>
      <mat-option value="Donnerstag">Donnerstag</mat-option>
      <mat-option value="Freitag">Freitag</mat-option>
      <mat-option value="Samstag">Samstag</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>In welchem Fach hast du aufgezeigt?</mat-label>
    <mat-select [(value)]="subject" >
      <div *ngFor="let subject of this.days.get(selected)">
        <mat-option [value]="subject">{{ subject }}</mat-option>
      </div>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Wie oft hast du aufgezeigt und wurdest drangenommen?</mat-label>
    <input type="number" (change)="updateNumber($event)" (keypress)="numberOnly($event)" matInput placeholder="0" />
  </mat-form-field>

  <button (click)="submit()" mat-button mat-raised-button color="primary">
    Hinzufügen
  </button>


  <br>
  {{ selected }}
  {{ subject }}
  {{ number }}
</section>
