<footer>
  <mat-toolbar class="toolbarNav">
    <button mat-flat-button routerLink="add" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: false}">
      <i class="fa-solid fa-plus fa fa-2x"></i>
      <span>Hinzufügen</span>
    </button>
    <button mat-flat-button routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
      <i class="fa-solid fa-house-chimney fa-2x"></i>
      <span>Dashboard</span>
    </button>
    <button mat-flat-button routerLink="calender" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
      <i class="fa-solid fa-calendar-days fa-2x"></i>
      <span>Kalender</span>
    </button>
  </mat-toolbar>
</footer>
